@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
    background: linear-gradient(
        to right,
        #fff 0%,
        #4d51b7 20%,
        #fff 40%,
        #4d51b7 60%,
        #fff 80%,
        #4d51b7 100%
    );
    background-clip: text;
    background-size: 300% 300%;
}
