@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
    background: linear-gradient(
        to right,
        #81B076,
        #fff,
        #81B076,
        #fff,
        #81B076,
        #fff,
        #81B076
    );
    background-clip: text;
    background-size: 200% auto;
    background-clip: text;
}

