@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
    background: linear-gradient(
        to right,
        #57BA47,
        #fff,
        #57BA47,
        #fff,
        #57BA47,
        #fff,
        #57BA47
    );
    background-clip: text;
    background-size: 200% auto;
    background-clip: text;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


  